link(href='@assets/img/pug.svg' rel='icon')
//- link(rel="shortcut icon", href=require("@/assets/images/favicons/favicon.ico"), type="image/png")
//- link(rel="icon", href=require("@/assets/images/favicons/favicon.ico"), type="image/png", sizes="152x152")
//- link(rel="icon", href=require("@/assets/images/favicons/favicon.ico"), type="image/png", sizes="256x256")
//- link(rel="icon", href=require("@/assets/images/favicons/favicon.ico"), type="image/png", sizes="512x512")
//- link(rel="apple-touch-icon", href=require("@/assets/images/favicons/favicon.ico"), sizes="152x152")
//- link(rel="apple-touch-icon", href=require("@/assets/images/favicons/favicon.ico"), sizes="256x256")
//- link(rel="apple-touch-icon", href=require("@/assets/images/favicons/favicon.ico"), sizes="512x512")